.source-c .de1, .source-c .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.source-c  {font-family:monospace;}
.source-c .imp {font-weight: bold; color: red;}
.source-c li, .source-c .li1 {font-weight: normal; vertical-align:top;}
.source-c .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.source-c .li2 {font-weight: bold; vertical-align:top;}
.source-c .kw1 {color: #b1b100;}
.source-c .kw2 {color: #000000; font-weight: bold;}
.source-c .kw3 {color: #000066;}
.source-c .kw4 {color: #993333;}
.source-c .co1 {color: #666666; font-style: italic;}
.source-c .co2 {color: #339933;}
.source-c .coMULTI {color: #808080; font-style: italic;}
.source-c .es0 {color: #000099; font-weight: bold;}
.source-c .es1 {color: #000099; font-weight: bold;}
.source-c .es2 {color: #660099; font-weight: bold;}
.source-c .es3 {color: #660099; font-weight: bold;}
.source-c .es4 {color: #660099; font-weight: bold;}
.source-c .es5 {color: #006699; font-weight: bold;}
.source-c .br0 {color: #009900;}
.source-c .sy0 {color: #339933;}
.source-c .st0 {color: #ff0000;}
.source-c .nu0 {color: #0000dd;}
.source-c .nu6 {color: #208080;}
.source-c .nu8 {color: #208080;}
.source-c .nu12 {color: #208080;}
.source-c .nu16 {color:#800080;}
.source-c .nu17 {color:#800080;}
.source-c .nu18 {color:#800080;}
.source-c .nu19 {color:#800080;}
.source-c .me1 {color: #202020;}
.source-c .me2 {color: #202020;}
.source-c .ln-xtra, .source-c li.ln-xtra, .source-c div.ln-xtra {background-color: #ffc;}
.source-c span.xtra { display:block; }
